.record-weight-button {
    width: 550px;
    margin-right: 40px;
    margin-top: 60px;
}

.view-weight-button {
    width: 550px;
    margin-left: 40px;
    margin-top: 60px;
}

.view-user-button {
    width: 1140px;
}