.table-header {
    background-color: black;
    color: white;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 15px
}

.custom-table {
    width: 750px;
    max-width: 900px;
    text-align: center;
    table-layout: fixed;
}

.back-button {
    width: 350px;
}

.icon-container.edit {
    border: 1px solid #00ff00;
    width: 50px;
}

.icon-container.delete {
    border: 1px solid blue;
    width: 50px;
}

.icon-container {
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}

.icon-container a {
    text-decoration: none;
}

.icon-container i {
    font-size: 18px;
}

.pencil-icon {
    color: #00ff00;
}

.pagination {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
