<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.weight_management_system.repository.UserMapper">

    <insert id="insertOne">
        insert into users (role_code, name, password, email)
        values (#{roleCode}, #{name}, #{password}, #{email})
    </insert>

    <select id="findLoginUser" resultType="com.example.weight_management_system.model.MUser">
        SELECT *
        FROM users
        WHERE email =  #{email}
    </select>

</mapper>